.Rproj.user
.Rhistory
.RData
.Ruserdata
explorando_shiny.R
07-papers
Coorecorder.zip
distance_ring_2.csv
fucking_bec.txt
inter_testigo de prueba distance_ring.csv
multi testigo de prueba distance_ring.csv
paso.txt
testigo de prueba distance_ring.csv
testigo de prueba time_bec distance_ring.csv
testigo de prueba time_inter_testigo de prueba distance_ring.csv
testigo de prueba time_multi testigo de prueba distance_ring.csv
testigo de prueba time_testigo de prueba distance_ring.csv
time_distance_ring.csv
time_distance_ring_1.csv
time_distance_ring_2.csv
1.csv
2.csv
Rplot.pdf
data_coau
kk1.csv
kk2.csv
n1.csv
name.csv
tring-datos.zip
tring_comments.docx
